/* VARIABLES & FURTHER RESETS */
/* VARIABLES */
:root {
    --clr-dark-navy: #1a2a33;
    --clr-semi-dark-navy: #1f3641;
    --clr-silver: #a8bfc9;
    --clr-silver-hover: #dbe8ed;
    --clr-light-blue: #31c3bd;
    --clr-light-blue-hover: #65e9e4;
    --clr-light-yellow: #f2b137;
    --clr-light-yellow-hover: #ffc860;

    /* sizes from tailwindcss */
    /* Sizes from tailwindcss */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

/* FURTHER RESETS */
* {
    background-color: var(--clr-dark-navy);
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}