/* utility classes have the highest priority */

/* breakpoints from tailwindcss, inspired by common device resolutions */
/* sm */
/*@media (min-width: 640px) { }*/

/* md */
/*@media (min-width: 768px) { }*/

/* lg */
/*@media (min-width: 1024px) { }*/

/* xl */
/*@media (min-width: 1280px) { }*/

/* 2xl */
/*@media (min-width: 1536px) { }*/

#root {
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    align-items: center;
}

.container {
    max-width: 100%;
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}